#sentence{
	width: 100%;
}

#input-sentence{
	width: 100%;
}

#textsearch-sentence{
	width: 35%;
	float: left;
	margin-left: 15%;
}

#button-sentence{
	width: 15%;
	float: left;
	margin-left: 2%;
}

#button-create{
	width: 15%;
	float: left;
	margin-left: 2%;
}

