#uploadForm{
	width: 100%;
	margin-top:2%;
}

.form-group{
	width: 50%;
	margin-left:25%;
}

.btn-primary
{
	margin-left:40%;
}

#dropdownPersonne
{
	float: left;
width: 20%;
margin-left: 10%;
}


#addPeople {
    float: left;
    width: 45%;
    margin-left: 25%;
}


#submitAddPersonne
{
	width: 170px;
margin-left: 1%;
}





#dropdownLanguage
{
	float: left;
width: 20%;
margin-left: 10%;
}


#addLanguage {
    float: left;
    width: 45%;
    margin-left: 25%;
}


#submitAddLanguage
{
	width: 170px;
margin-left: 1%;
}

#inputEnvoieFichier
{
	margin-top:5%;
}